<h1>Pizzas</h1>
<br>
<h2>Our Creations </h2>
<% @pizzas.each do |pizza| %>
    <% if pizza.user != @user%>
        <section>
            <h3><%= pizza.name%></h3>
            <p><%= pizza.description%></p>
        </section>
    <% end %>
<% end %>
<br>
<% if logged_in? %>
    <h2>Your Creations </h2>
    <% @user.pizzas.each do |pizza| %>
        <section>
        <h3><%= pizza.name%></h3>
        <p><%= pizza.description%></p>
        </section>
    <% end %>
    <h3><%= link_to 'Create your own', new_pizza_path %></h3>
<% end %>