<section class="container">
    <h1>Pizzas</h1>
    <h2>Our Creations </h2>
<% @pizzas.each do |pizza| %>
    <section class="pizza-card">
        <h3><%= link_to pizza.name, pizza_path(pizza), class:"pizza-name", id:"link"%></h3>
        <p class="pizza-description"><%= pizza.description%></p>
    </section>
<% end %>

 <br>
<% if logged_in? %>
    <h2>Your Creations </h2>
    <h3><%= link_to 'Create your own', new_order_path %></h3>
    <% @user.pizzas.each do |pizza| %>
        <section>
         <h3><%= link_to pizza.name, pizza_path(pizza), class:"pizza-name" %></h3>
        <p class="pizza-description"><%= pizza.description%></p>
        </section>
    <% end %>
    
<% end %>
</section>