<h1><%= @pizza.name %></h1>
<p><%= @pizza.description %></p>

<h4><%= link_to 'Leave a review', new_pizza_review_path(@pizza, @review) %></h4>
<br/>
<h2>Reviews</h2>
<% @pizza.reviews.each do |review| %>
    <section>
        <h3><%= review.user.name %></h3>
        <h4>Rating: <%= review.rating %> star(s)</h4>
        <h4><%= review.content %></h4>
    </section>
<% end %>

<br>

<%= link_to 'Back to pizzas', pizzas_path %>