<h1>Hi, <%= @user.name %>.</h1>

<section>
    <% if @user.image %>
        <%= image_tag(@user.image)%>
    <% end %>
</section>

<br>

<h3>Total orders: <%= @user.orders.count %> </h3>
<% if @user.orders.count == 0 %>
    <%= link_to 'ORDER NOW', new_order_path %>
<% end %>
<br>
<h3>Your creations</h3>
<% @user.pizzas.each do |p|%>
    <section>
        <%= p.name %> | <%= link_to 'edit', edit_pizza_path(p) %> | <%= link_to 'delete', pizza_path, method: :delete, data: {confirm: "Are you sure you want to delete your masterpiece?"} %>
    </section>
<% end %>

<h3>Pizzas you've reviewed</h3>
<%if !@user.reviews.empty?%>
    <% @user.reviews.each do |r| %>
        <section>
        <%= r.pizza.name%> | <%= link_to 'View review', review_path(r) %>
        </section>
    <% end %>
<% else %>
    <h4><%= link_to 'Review a pizza', pizzas_path %></h4>
<% end %>
<br>
<%= link_to 'Edit Account', edit_user_path %>