<section class="container">
<h1>Hi, <%= @user.name %>.</h1>

<section>
    <% if @user.image %>
        <%= image_tag(@user.image)%>
    <% end %>
</section>
<%byebug%>
<br>
<section class="box">
<h2>Total orders: <%= @user.orders.count %> </h2>
<% if @user.orders.count == 0 %>
    <%= link_to 'ORDER NOW', new_order_path, class:"btn" %>
<%else%>
    <%= link_to 'View Orders', user_orders_path(current_user), class:"btn-order" %> 
<% end %>

<br>

<h2>Your creations</h2>
<% @user.pizzas.each do |p|%>
    <section>
        <p class="creation-name"><%= p.name %></p>
        <% if @user == @admin  %>
        <%= link_to 'Edit', edit_pizza_path(p), class:"btn-account" %>
        <% end %>
        <%= link_to 'Delete', pizza_path, method: :delete, data: {confirm: "Are you sure you want to delete your masterpiece?"}, class:"btn-account" %>
    </section>
<% end %>

<h2>Pizzas you've reviewed</h2>
<%if !@user.reviews.empty?%>
    <% @user.reviews.each do |r| %>
        <section>
        <p class="creation-name"><%= r.pizza.name %>  </p>
        <%= link_to 'View review', review_path(r), class:"btn-account" %>
        </section>
    <% end %>
<% else %>
    <h4><%= link_to 'Review a pizza', pizzas_path, class:"btn-order" %></h4>
<% end %>
<br>
<%= link_to 'Edit Account', edit_user_path, class:"btn-order" %>
</section>
</section>