<h1>Order</h1>
<%= form_with model: @order do |f|%>
 <%= f.label 'Select pizza(s)'%> <br>
 <%= f.collection_select(:pizza_ids, Pizza.all, :id, :name, {}, {multiple: true})%> <br>

 <br><%= f.label 'Special request(s)'%> <br>
 <%= f.text_area :note %> <br> 

 <h2>Create your own</h2>
 <%= f.fields_for :pizzas do |pizza|%>
    <h3>New Pizza</h3>
    <%= pizza.label :name, "Name Your Pizza" %> <br>
    <%= pizza.text_field :name %> <br> <br>
    <%= pizza.label :description %> <br>
    <%= pizza.text_area :description %> <br>
    <%= pizza.hidden_field :user_id, value: current_user.id %>
 <% end %>

 <%= f.submit%>
<% end %>