<h1>Leave a review</h1>

<%= render partial: "layouts/errors", locals: {object: @review} %>

<%= form_for([@review.pizza, @review], url: pizza_reviews_path) do |f| %>
  <%= f.hidden_field :pizza_id%>
   <section>
        <%= f.label :rating%>
        <%= f.number_field :rating, within: 1...6%>
   </section> 
   
   <section>
        <%= f.label :content, "Review:"%> <br>
        <%= f.text_area(:content, max: 250, min: 2) %>
   </section> 

   <section>
        <%= f.submit "Submit Review"%>
   </section>
<% end %>