<!DOCTYPE html>
<html>
  <head>
    <title>Pizzeria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <style>
        .error { color: red; }
    </style>
  </head>
    <div>
      <% if logged_in? || !session[:user_id].nil?%>
        <%= link_to 'logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign Up', signup_path %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
  <body>
    <%= yield %>
  </body>
</html>
