<!DOCTYPE html>
<html>
  <head>
    <title>Pizzeria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <style>
        .error { color: red; }
        .success {color: green;}
    </style>
  </head>
    <div>
      <%= link_to 'Home', root_path %> | <%= link_to 'Pizzas', pizzas_path %> |
      <% if logged_in?%>
        <%= link_to 'Order Now',  new_order_path %> |
        <%= link_to 'Account', user_path(current_user) %> |
        <%= link_to 'Orders', user_orders_path(current_user) %> |
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign Up', signup_path %> |
        <%= link_to 'Login', login_path %>
      <% end %>
      
    </div>
  <body>
  <% if flash[:error] %>
    <section class='error'><%= flash[:error]%></section>
  <% else %>
    <section class='success'><%= flash[:success]%></section>
  <% end %>
    <%= yield %>
  </body>
</html>
